/* @import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300,500,600,700,800"); */
@font-face {
    font-family: "Open Sans Condensed";
    src: url('../fonts/OpenSansCondensed/OpenSansCondensed-Bold.ttf');
    font-weight: 'bold';
    font-style: 'bold';
}

@font-face {
    font-family: "Open Sans Condensed Light";
    src: url("../fonts/OpenSansCondensed/OpenSansCondensed-Light.ttf");
    font-weight: 'normal';
    font-style: 'normal';
}